# The desktop file for the sound player.  This is used by Gnome to
# allow the application to be launched from the desktop GUI.

[Desktop Entry]
Version=1.0
Type=Application
Name=Sound Player
GenericName=Multimedia
Comment=A program to play music and sound effects
TryExec=play_sound
Exec=play_sound
Icon=play_sound_icon.png
StartupNotify=true
Terminal=false
Categories=AudioVideo;Audio;Player;GTK;Gnome
# The Sound_effects_player will also have categories
# Midi and Sequencer.
