QProgressBar:horizontal {
    border: 1px solid #3A3939;
    text-align: center;
    background: #201F1F;
}

QProgressBar:chunk:horizontal {
    background-color: qlineargradient(spread:reflect, x1:1, y1:0.545, x2:1, y2:0, stop:0 rgba(28, 66, 111, 255), stop:1 rgba(37, 87, 146, 255));
}

QStatusBar {
	border-top: 1px solid #3A3939;
}

QToolTip {
    border: 1px solid #3A3939;
    background-color: rgb(90, 102, 117);;
    color: white;
    padding: 1px;
    opacity: 100;
}

QWidget {
    color: silver;
    background-color: #302F2F;
    selection-background-color:#78879b;
    selection-color: black;
}

QWidget:disabled {
    color: #707070;
    background-color: #302F2F;
}

QWidget:item:hover {
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #78879b, stop: 1 #78879b);
    color: black;
}

QWidget:item:selected {
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #78879b, stop: 1 #78879b);
    outline: none
}

QMenuBar {
    background-color: #302F2F;
    color: silver;
}

QMenuBar:item {
    background: transparent;
}

QMenuBar:item:selected {
    background: transparent;
    border: 1px solid #3A3939;
}

QMenuBar:item:pressed {
    border: 1px solid #3A3939;
    background-color: #78879b;
    color: black;
    margin-bottom:-1px;
    padding-bottom:1px;
}

QMenu {
    border: 1px solid #3A3939;
    color: silver;
}

QMenu:item {
    padding: 2px 20px 2px 20px;
}

QMenu:item:selected{
    color: black;
}

QAbstractItemView {
    alternate-background-color: #252525;
    color: silver;
    /*border: 1px solid 3A3939;*/
    border-radius: 3px;
    padding: 1px;
}

QAbstractItemView:item:hover {
	background: none;
	color: silver;
}

QAbstractItemView:item:selected:hover {
	background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #78879b, stop: 1 #78879b);
    color: black;
}

QWidget:focus, QMenuBar:focus {
    border: 1px solid rgba(48, 86, 111);
    outline: none;
}

QTabWidget:focus, QCheckBox:focus, QRadioButton:focus {
    border: none;
}

QLineEdit {
    background-color: #201F1F;
    padding: 2px;
    border-style: solid;
    border: 1px solid #3A3939;
    border-radius: 3px;
    color: silver;
}

QGroupBox {
    border:1px solid #3A3939;
    border-radius: 7px;
    margin-top: 2ex;
}

QGroupBox:title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 10px;
    padding-right: 10px;
}

QAbstractScrollArea {
    border-radius: 3px;
    border: 1px solid #3A3939;
}

QScrollBar:add-line,
QScrollBar:sub-line,
QScrollBar:right-arrow,
QScrollBar:left-arrow {
	width: 0px;
	height: 0px;
}

QScrollBar:add-page, QScrollBar:sub-page {
	background: none;
}

QScrollBar:horizontal {
    height: 12px;
    margin: 0px;
    border: 1px solid #3A3939;
    border-radius: 6px;
    background-color: QLinearGradient( x1: 0, y1: 1, x2: 0, y2: 0,
    stop: 0 #302F2F, stop: 1 #484846);
}

QScrollBar:handle:horizontal {
    background-color: QLinearGradient( x1: 0, y1: 1, x2: 0, y2: 0,
    stop: 0 #605F5F, stop: 1 #787876);
    min-width: 5px;
    border-radius: 5px;
}

QScrollBar:vertical {
    background-color: QLinearGradient( x1: 1, y1: 0, x2: 0, y2: 0,
    stop: 0 #302F2F, stop: 1 #484846);
    width: 12px;
    margin: 0px;
    border: 1px solid #3A3939;
    border-radius: 6px;
}

QScrollBar:handle:vertical {
    background-color: QLinearGradient( x1: 1, y1: 0, x2: 0, y2: 0,
    stop: 0 #605F5F, stop: 1 #787876);
    min-height: 5px;
    border-radius: 5px;
}

QTextEdit {
    background-color: #302F2F;
    color: silver;
    border: 1px solid #3A3939;
}

QPlainTextEdit {
    background-color: #201F1F;;
    color: silver;
    border-radius: 3px;
    border: 1px solid #3A3939;
}

QHeaderView {
	border: none;
	text-align: center;
	qproperty-defaultAlignment: AlignCenter;
}

QHeaderView:section {
	border: none;
	border-right: 1px solid #3A3939;
	border-bottom: 1px solid #3A3939;
}

QHeaderView:section,
QTableView QTableCornerButton:section {
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    color: silver;
}

QHeaderView:section:checked {
	font-weight: bold;
}

QSizeGrip {
    image: url(assets/sizegrip.png);
    width: 12px;
    height: 12px;
}

QMainWindow:separator {
    background-color: #302F2F;
    color: white;
    padding-left: 4px;
    spacing: 2px;
    border: 1px dashed #3A3939;
}

QMainWindow:separator:hover {

    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #58677b,
      stop:0.5 #78879b stop:1 #58677b);
    color: white;
    padding-left: 4px;
    border: 1px solid #3A3939;
    spacing: 2px; 
}

QMenu:separator {
    height: 1px;
    background-color: #3A3939;
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QFrame {
    border-radius: 3px;
}

QStackedWidget {
    border: none;
}

QToolBar {
    border: 1px solid #393838;
    background: 1px solid #302F2F;
    font-weight: bold;
}

QToolBar:handle:horizontal {
    image: url(assets/Hmovetoolbar.png);
}
QToolBar:handle:vertical {
    image: url(assets/Vmovetoolbar.png);
}
QToolBar:separator:horizontal {
    image: url(assets/Hsepartoolbar.png);
}
QToolBar:separator:vertical {
    image: url(assets/Vsepartoolbars.png);
}

QPushButton {
    color: silver;
    background-color: QLinearGradient( x1: 0, y1: 1, x2: 0, y2: 0,
    stop: 0 #302F2F, stop: 1 #484846);
    border-width: 1px;
    border-color: #4A4949;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

QPushButton:disabled {
    background-color: QLinearGradient( x1: 0, y1: 1, x2: 0, y2: 0,
    stop: 0 #302F2F, stop: 1 #484846);
    border-width: 1px;
    border-color: #3A3939;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /*border-radius: 3px;
    color: #3A3939;*/
}

QComboBox {
    selection-background-color: #78879b;
    background-color: #201F1F;
    border-style: solid;
    border: 1px solid #3A3939;
    border-radius: 3px;
    padding: 2px;
}

QComboBox:hover,QPushButton:hover,QAbstractSpinBox:hover,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QAbstractView:hover,QTreeView:hover {
    border: 1px solid #78879b;
    color: silver;
}

QComboBox:on {
    background-color: #626873;
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: #4a4a4a;
}

QComboBox:indicator {
	background: transparent;
	image: none;
}

QComboBox:item {
	margin: 0px;
	padding: 2px;
	height: 20px;
}

QComboBox QAbstractItemView {
    background-color: #201F1F;
    border-radius: 3px;
    border: 1px solid #3A3939;
    selection-background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
      stop: 0 #78879b, stop: 1 #78879b);
}

QComboBox:drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px;
}

QComboBox:down-arrow {
    image: url(assets/down-arrow-disabled.png);
}

QComboBox:down-arrow:on, QComboBox:down-arrow:hover,
QComboBox:down-arrow:focus {
    image: url(assets/down-arrow.png);
}

QPushButton:pressed {
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #302F2F, stop: 1 #484846);
}

QAbstractSpinBox {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #3A3939;
    background-color: #201F1F;
    color: silver;
    border-radius: 3px;
}

QAbstractSpinBox:up-button {
    background-color: transparent;
    border-left: 1px solid #3A3939;
    border-bottom: 1px solid #3A3939;
    margin-top: 1px;
    subcontrol-origin: border;
    subcontrol-position: top right;
}

QAbstractSpinBox:down-button {
    background-color: transparent;
    border-left: 1px solid #3A3939;
    border-top: 1px solid #3A3939;
    margin-bottom: 1px;
    subcontrol-origin: border;
    subcontrol-position: bottom right;
}

QAbstractSpinBox:up-arrow,QAbstractSpinBox:up-arrow:disabled,QAbstractSpinBox:up-arrow:off {
    image: url(assets/spin-up-disabled.png);
    width: 10px;
    height: 10px;
}
QAbstractSpinBox:up-arrow:hover {
    image: url(assets/spin-up.png);
}

QAbstractSpinBox:down-arrow,QAbstractSpinBox:down-arrow:disabled,QAbstractSpinBox:down-arrow:off {
    image: url(assets/spin-down-disabled.png);
    width: 12px;
    height: 12px;
}

QAbstractSpinBox:down-arrow:hover {
    image: url(assets/spin-down.png);
}

QLabel {
    border: 0px solid black;
}

QTabWidget:pane {
    border: 1px solid #3A3939;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1,
      stop:1 #302F2F, stop:0 #3A3939);
}

QTabBar:focus {
	border: none;
}

QTabBar:tab {
    color: #b1b1b1;
    background-color: #302F2F;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-left: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QTabBar:tab:last {
    margin-right: 0;
}

QTabBar:tab:first:!selected {
}

QTabBar:tab:!selected {
	margin-top: 3px;
    color: #b1b1b1;
    border-bottom-style: solid;
}

QTabBar:tab:selected {
    margin-bottom: 0px;

    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1,
      stop:1 #302F2F, stop:0 #5A5959);
}

QTabBar:tab:selected:hover {
    color:white;
}

QTabBar:tab:!selected:hover {
    color:white;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop:1 #302F2F, stop:0 #5A5959);
}

QDockWidget {
    color: silver;
    titlebar-close-icon: url(assets/close.png);
    titlebar-normal-icon: url(assets/undock.png);
}

QDockWidget:title {
    border: 1px solid #3A3939;
    border-bottom: #302F2F;
    text-align: left;
    spacing: 2px; 
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop:1 #302F2F, stop:0 #3A3939);;
    background-image: none;
    padding-left: 10px;
}

QDockWidget {
    border: 1px solid lightgray;
    titlebar-close-icon: url(assets/close.png);
    titlebar-normal-icon: url(assets/undock.png);
}

QDockWidget:close-button, QDockWidget:float-button {
    border: 1px solid transparent;
    border-radius: 5px;
    background: transparent;
    icon-size: 10px;
}

QDockWidget:close-button:hover, QDockWidget:float-button:hover {
    background: #3A3939;
}

QDockWidget:close-button:pressed, QDockWidget:float-button:pressed {
    padding: 1px -1px -1px 1px;
}

QTreeView, QListView, QTableView {
    border: 1px solid #3A3939;
    background-color: #201F1F;
}

QTreeView:branch:selected, QTreeView:branch:hover {
    background: url(assets/transparent.png);
}

QTreeView:branch:has-siblings:!adjoins-item {
    border-image: url(assets/transparent.png);
}

QTreeView:branch:has-siblings:adjoins-item {
    border-image: url(assets/transparent.png);
}

QTreeView:branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(assets/transparent.png);
}

QTreeView:branch:has-children:!has-siblings:closed,
QTreeView:branch:closed:has-children:has-siblings {
    image: url(assets/branch-closed.png);
}

QTreeView:branch:open:has-children:!has-siblings,
QTreeView:branch:open:has-children:has-siblings  {
    image: url(assets/branch-open.png);
}

QSlider{
	background: none;
}

QSlider:groove:horizontal {
    border: 1px solid #3A3939;
    height: 4px; 
    background: #201F1F;
    margin: 0px 10px;
    border-radius: 2px;
}

QSlider:groove:vertical {
    border: 1px solid #3A3939;
    width: 4px; 
    background: #201F1F;
    margin: 10px 0px;
    border-radius: 2px;
}

QSlider:sub-page {
	border: none;
	background-color: #80AAD5;
}

QSlider:sub-page:disabled {
	background-color: silver;
}

QSlider:sub-page:horizontal {
	height: 4px;
	margin-left: 10px;
	border-radius: 2px;
}

QSlider:sub-page:vertical {
	width: 4px;
	margin-bottom: 10px;
	border-radius: 2px;
}

QSlider:handle {
	margin: -8px;
	image: url('assets/slider-handle.png')
}

QSlider:handle:disabled {
	image: url('assets/slider-handle-disabled.png')
}

QToolButton { 
    background-color: #302F2F;
}

QToolButton:pressed {
    background-color: #3A3939;
}

QToolButton:hover {
    background-color: #3A3939;
}

QCheckBox:indicator, QGroupBox:indicator, QMenu:indicator, QTreeWidget:indicator {
	image: url('assets/checkbox-unchecked.png');
}

QCheckBox:indicator:disabled, QGroupBox:indicator:disabled, QMenu:indicator:disabled, QTreeWidget:indicator:disabled {
	image: url('assets/checkbox-unchecked-disabled.png');
}

QCheckBox:indicator:checked, QGroupBox:indicator:checked, QMenu:indicator:checked, QTreeWidget:indicator:checked {
	image: url('assets/checkbox-checked.png');
}

QCheckBox:indicator:checked:disabled, QGroupBox:indicator:checked:disabled, QMenu:indicator:checked:disabled, QTreeWidget:indicator:checked:disabled {
	image: url('assets/checkbox-checked-disabled.png');
}

QCheckBox:indicator:indeterminate, QTreeWidget:indicator:indeterminate {
	image: url('assets/checkbox-mixed.png');
}

QCheckBox:indicator:indeterminate:disabled, QTreeWidget:indicator:indeterminate:disabled {
	image: url('assets/checkbox-mixed-disabled.png');
}

QRadioButton:indicator {
	image: url('assets/radio-unchecked.png');
}

QRadioButton:indicator:disabled {
	image: url('assets/radio-unchecked-disabled.png');
}

QRadioButton:indicator:checked {
	image: url('assets/radio-checked.png');
}

QRadioButton:indicator:checked:disabled {
	image: url('assets/radio-checked-disabled.png');
}
